@import '../../styles/mixins.scss';

.container {
    width: 100%;
    background-color: $base-lightgray-color;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .top {
        display: flex;
        gap: 10px;

        .text {
            .username {
                display: block !important;
                font-weight: 600 !important;
                font-size: 18px !important;
                color: $base-dark-color !important;
            }
            .comment {
                margin: 0;
            }
        }   
    }
    .bottom {
        align-self: flex-end;
        font-size: 12px;
        color: #C3C3C3;
    }
    .editButtons {
        display: flex;
        margin-left: auto;
        padding: 5px;
        border-radius: 20px;

        .editButton, .deleteButton {
            opacity: 0.5;
            transition: opacity 0.2s ease-in-out;
        }

        .editButton:hover, .deleteButton:hover {
            opacity: 1;
            cursor: pointer;
        }

        .editButton:active, .deleteButton:active {
            position: relative;
            top: 1px;
        }

    }
}
.modalButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

    button {
        @include default-btn;
        flex-direction: row;
    }
}

.modalContainer{
    position: relative;
    left: 30%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: $base-lightgray-color;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    gap: 5px;
}

.modal{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

