@import '../../styles/mixins.scss';

.header {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 36px;
    position: relative;

    .image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        height: 500px;
        border-radius: 50px;
    }

    .info {
        position: sticky;
        top: 0;
    }

    .content {
        margin-top: 60px;

        .description {
            margin-bottom: 50px;
            
            h2 {
                font-size: 48px;
                margin: 0;
            }

            .text {
                margin-top: 30px;
                font-size: 20px;
            }
        }

        .comments {
            h2 {
                font-size: 48px;
                font-weight: 700;
            }

            .wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 40px;

                span {
                    display: flex;
                    justify-content: center;
                    font-size: 24px;
                    color: #b4b4b4;
                }
            }

            .textarea {
                display: flex;
                flex-direction: column;
                gap: 5px;

                textarea {
                    width: 100%;
                    padding: 20px;
                    font-size: 18px;
                    resize: vertical;
                    border-radius: 30px;
                    border: 1px solid #E2E2E2;
                    font-family: 'Lato', sans-serif;
                }

                button {
                    @include default-btn;
                    align-self: flex-end;
                }
            }
        }
    }

}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
}

.more_link {
    text-transform: uppercase;
    align-self: flex-end;
    color: $base-dark-color;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 150px;
    display: inline-block;
    text-align: end;
}

.heading {
    font-size: 48px;
    margin-top: 50px;
}

::placeholder {
    opacity: 0.5;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .header {
        grid-template-columns: 1fr;

        .info {
            position: relative;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .image {
            height: 400px;
        }
    }
}