@import '../../styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-color: $base-lightgray-color;
    border-radius: 35px;
    padding: 15px 40px;
    position: sticky;
    top: 20px;
    color: $base-dark-color;

    .title {
        font-size: 24px;
        margin: 0;
        margin-top: 20px;
    }

    .inputs {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .date_container {
            width: 100%;

            .section_heading {
                color: #808080;
                font-weight: 500;
                font-size: 16px;
            }

            .input_container {
                display: flex;
                gap: 10px;
            }
        }

        .price_container {

            .section_heading {
                color: #808080;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}