@import '../../styles/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .logo {
        @include flex-align-center;
        gap: 15px;
        cursor: pointer;
        text-decoration: none;
        color: $base-dark-color;

        h1 {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .menu {
        @include flex-align-center;
        gap: 50px;

        .location {
            @include flex-align-center;
            cursor: pointer;
            text-decoration: none;

            svg {
                width: 30px;
            }

            span {
                @include header-menu-text;
            }
        }

        .login {
            @include header-menu-text;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .menu {
            gap: 25px;
            
            .location {
                display: none;
            }
            .login {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .header {
        .menu {
            .search {
                display: none;
            }
        }
    }
}